body {
    background-color: #FEFDFA;
}

#info {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 10px 5px;
  font-size: 12px;
  line-height: 1.6em;
}

#footer {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px 5px 0px;
  font-size: 10px;
  text-align: right;
}

#footer a {
    text-decoration: none;
}



#winTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 5px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #2F3440;
  width: 100%;
  table-layout: fixed;
}
#winTable th
{
	padding: 2px 5px 2px 2px;
	font-weight: normal;
	font-size: 10px;
	color: #2F3440;
}
#winTable td
{
	padding: 2px 4px 2px 2px;
	color: #2F3440;
}
#winTable tr:hover
{
	color: #339;
	background: #AABAE5;
}

