#info {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 10px 5px;
  font-size: 12px;
  line-height: 1.6em;
}


#winTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 10px;
	margin: 5px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
  width: 100%;
  table-layout: fixed;
}
#winTable th
{
	padding: 2px 5px 2px 2px;
	font-weight: normal;
	font-size: 10px;
	color: #669;
}
#winTable td
{
	padding: 2px 4px 2px 2px;
	color: #669;
}
#winTable tr:hover
{
	color: #339;
	background: #d0dafd;
}

